@import './_fonts.scss';


$ff-primary: 'Montserrat';
$ff-secondary: '';

$sm: 576.98px;
$md: 768.98px;
$lg: 992.98px;
$xl: 1200.98px;
$xxl: 1400.98px;

$fw-regular: 400;
$fw-bold: 700;

$dark-shade_100: #1F2041;
$dark-shade_75: rgba(#1F2041, .75);
$dark-shade_50: rgba(#1F2041, .50);
$dark-shade_25: rgba(#1F2041, .25);
$dark-shade_5: rgba(#1F2041, .5);
$purple: #BC9CFF;
$green: #6FCF97;